.plRow {
  border: white 1px solid;
  border-radius: 4px;
  cursor: pointer;
  transition: 3px;
}

.plRow:hover{
  background-color: white;
  color: black;
}

.plTitle {
  font-weight: 600;
}

.plCount {
  color: #767676;
}
